/* default color scheme */
@define-color bg_color #ff0000;
@define-color fg_color #ff0000;
@define-color base_color #282a36;
@define-color text_color #f8f8f2;
@define-color borders transparent;
@define-color header_bg_color #1e1f29;
@define-color header_fg_color #f8f8f2;
@define-color selected_bg_color #ff79c6;
@define-color tooltip_bg_color #f8f8f8;
@define-color tooltip_fg_color #2d2d2d;

