[Unit]
Description=Mount Proton Drive with Rclone
After=network-online.target

[Service]
Type=simple
ExecStart=%h/.config/restic-setup/mount-proton.sh
ExecStop=/usr/bin/env fusermount -u /home/alex/mnt/proton
Restart=always

# Prevent errors on startup

# Don’t try to unmount unless it's already mounted
# (Suppress fusermount errors completely)
ExecStartPre=/bin/sh -c 'mountpoint -q %h/mnt/proton && fusermount -u %h/mnt/proton || true'

[Install]
WantedBy=default.target
