[Unit]
Description=xautolock for i3
BindsTo=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=%h/.local/bin/xautolock-i3.sh
Restart=on-failure

[Install]
WantedBy=graphical-session.target
